__pycache__/
*.py[cod]

.env
.venv/
venv/

.streamlit/secrets.toml

dataset/**/*
!dataset/**/
!dataset/**/.gitkeep

dataset_bukan_sawit/**/*
!dataset_bukan_sawit/**/
!dataset_bukan_sawit/**/.gitkeep

dataset_validasi/**/*
!dataset_validasi/**/
!dataset_validasi/**/.gitkeep

models/*
!models/.gitkeep

data/*
!data/.gitkeep

*.log
training_history.png

dataset_pro/

dataset_validasi_hardpositives/

reports/
